//! block slider-review
.slider-review
	+below(978px)
		padding 40px 0
	padding 160px 0 250px 0
	bgi('bg-2.png')
	background-size cover
	background-position center center
	background-repeat no-repeat
	position relative
.slider-review-filter
	position absolute
	top 0
	left 0
	size 100% 100%
	background rgba(9, 9, 9, 0.73) 
//.main-cont 
.slider-review__cont 
	.owl-next, .owl-prev
		margin-top 0
		top 55%
.slider-review__el 
	+below(640px)
		padding 0 15%
	flex(mid)
	fl()
	padding 0 10%
.slider-review__icon 
	+below(978px)
		margin-bottom 10px
	margin-bottom 30px
	.icons
		+below(978px)
			size 40
		fill white
		size 80
.slider-review__title 
	+below(978px)
		margin-bottom 20px
	+below(640px)
		fl()
		fw()
	flex(mid)
	color white
	margin-bottom 80px
	img
		+below(978px)
			width 100px!important
		+below(640px)
			margin-right 0
		margin-right 30px
		width 160px!important
	span 
		margin-top 15px
.slider-review__text 
	+below(978px)
		margin-bottom 30px
		font-size 22px
	+below(640px)
		font-size 16px
	width 100%
	margin-bottom 80px
	color white
	font-family Caecilia
	font-size 32px
	text-align center
.slider-review__auth 
	+below(978px)
		font-size 18px
	+below(640px)
		font-size 14px
	color white
//!block slider-review end