//! block review
.review 
	background grey-light 
	.main-cont 
		flex(mid)
.review-wraper 
	+below(978px)
		padding 40px 0
	+below(640px)
		width 95%
	padding 40px 0 130px 0
	flex(mid)
	fl()
	width 70%
	
.review-qutes 
	+below(978px)
		margin-bottom 25px
	fill #66837e
	margin-bottom 75px
	.icons
		+below(978px)
			size 30
		size 70
.review-text 
	+below(978px)
		margin-bottom 25px
		font-size 26px
	+below(640px)
		font-size 22px
	color #746f6f
	font-family Caecilia
	font-size  38px
	font-weight 400
	text-align center
	margin-bottom 70px
.review-user 
	+below(640px)
		flex(mid)
	flex(between)
.review-user__img 
	+below(978px)
		size 50
	+below(640px)
		margin-right 10px
	size 180
	margin-right 50px
	img
		round()
		
//.review-user__info 
.review-user__name
	+below(978px)
		font-size 24px 
	font-size 44px 
.review-user__prof 
	+below(978px)
		font-size 16px
	font-size 28px
//!block review end