mixin review()
	//block review
	.review
		.main-cont
			.review-wraper
				.review-qutes
					+icon("qutes","icons")
				.review-text “Good design is all about making other designers feel like idiots because that idea wasn’t theirs.”
				.review-user
					.review-user__img
						img(src="img/avatar.jpg", alt="")
					.review-user__info
						.review-user__name Frank Chimero
						.review-user__prof Professional Designer.
	//block review end