//! block clients
.clients 
	+below(978px)	
		padding 40px 0
	padding 60px 0 260px 0
//.main-cont 
.clients-wraper 
	flex(mid)
	fl()
.clients-title 
	+below(978px)	
		font-size 22px
	font-size 38px
	font-weight 700
	margin-bottom 10px
.clients-title-sub 
	+below(978px)	
		margin-bottom 30px
		font-size 18px
	font-size 30px
	margin-bottom 170px
.clients-cont 
	+below(978px)	
		fw()
	flex(between)
	width 100%
.clients-el 
	width 18%
//!block clients end