mixin footer()
	//block footer
	.footer
		.main-cont
			.footer-wraper
				.footer-col.footer-col--icons
					a(href="#").footer-col__icon
						+icon("facebook","icons")
					a(href="#").footer-col__icon
						+icon("twitter","icons")
					a(href="#").footer-col__icon
						+icon("vk","icons")
				.footer-col.footer-col--auth
					span Create By: Anatoly Kuznetsov

	//block footer end