//! block get
.get 
	+below(978px)
		padding 40px 0
	padding 140px 0 190px 0
	background dark 
//.main-cont 
.get-wraper 
	flex(mid)
	fl()
.get-title
	+below(978px) 
		font-size 22px
	color #fff
	font-size 45px
	font-weight 700
.get-text 
	+below(978px)
		font-size 18px
		margin 20px 0
	width 100%
	font-family Caecilia
	font-size 35px
	color #dad9d9
	margin 80px 0
	text-align center
.get-btn 
	@extend .btn
	@extend .btn--red
//!block get end