mixin get()
	//block get
	.get
		.main-cont
			.get-wraper
				.get-title So what you think ?
				.get-text “Good design is all about making other designers feel like idiots because that idea wasn’t theirs.”
				a(href="#").get-btn Contact Me
	//block get end