//! block price
.price 
	+below(978px)
		padding 40px 0
	background #f1f1f1
	padding 160px 0
//.main-cont 
//.price-wraper 
.price-title
	+below(978px) 
		font-size 22px
	text-align center
	font-size 38px
	font-weight 700
	margin-bottom 20px 
.price-title-sub 
	+below(978px)
		font-size 18px
		margin-bottom 30px
	font-size 30px
	font-weight 300
	text-align center
	margin-bottom 150px
.price-table 
	+below(768px)
		flex(mid)
		fl()
	flex(between)
	fw()
.price-table__el 
	+below(768px)
		width 80%
		margin-bottom 20px
	+below(640px)
		width 95%
	width 30%
	border 2px solid #a1a1a1
.price-table__head 
	border-bottom 2px solid #a1a1a1
	padding 20px 0
	text-align center
.price-table__title 
	+below(978px)
		font-size 22px 
	font-size 38px
	font-weight 700
	margin-bottom 5px
.price-table__price 
	+below(978px)
		font-size 18px
	color #999
.price-table__cont
	+below(1200px)
		padding 25px
	+below(978px)
		padding 20px
	color #999
	flex(mid)
	fl()
	padding 90px 50px 60px 50px
.price-table__inf 
	+below(978px)
		font-size 18px
		margin-bottom 15px
	margin-bottom 30px
	span
		font-weight 700
.price-table__btn 
	+below(978px)
		margin-top 10px
	@extend .btn
	@extend .btn--green
	font-weight 700
	width 75%
	text-align center
	margin-top 35px
//!block price end