mixin header()
	//block header
	.header
		.header__filter
		.nav-wraper
			.main-cont
				.nav
					a(href="#").nav__logo
						img(src="img/logo.png", alt="")
					.nav__menu
						.nav__menu-wraper
							a(href="#").nav__menu-el.nav__menu-el--active Home
							- var arr =['Studio','Works','About Me','Blog','Contact'];
							- each val in arr 
								a(href="#").nav__menu-el #{val}
					.nav__toggle
						+icon("menu","icons")
		.slider.owl-carousel
			- for (var i = 0; i < 4; i++)
				.slider-el
					.slider-el__wraper
						.slider-img
							img(src="img/phone.png", alt="")
						.slider-info
							.slider-info__title Flat  Modern transparent #{i+1}
							.slider-info__text flat inspired UI with some modern transparent Element
							.slider-info__item
								.slider-info__list
									span
									.slider-info__list-text 16Psd Files Easy to Edite
								.slider-info__list
									span
									.slider-info__list-text All Font used Link Included
							.slider-info__price Get Now Your Copy just for 
								span 7$

	//block header end