mixin info()
	//block info
	.info
		.main-cont
			.info-wraper
				.info__el
					.info__img
						img(src="img/pc.png", alt="")
					.info__text
						.info__title Web and Mobile Landing Page
						.info__title-sub Simple and Elegant User Interface
						p  One morning, when Gregor Samsa woke from troubled dreams, he himself transformed in bed into a horrible vermin. He  his armour-back.
						a(href="#").info__btn Readmore
				.info__el
					.info__text.info__text--invert
						.info__title Video Promotional on vimeo
						.info__title-sub Simple and Elegant User Interface
						p  One morning, when Gregor Samsa woke from troubled dreams, he himself transformed in bed into a horrible vermin. He  his armour-back.
						a(href="#").info__btn Moredetail
					.info__img.info__img--invert
						img(src="img/video.png", alt="")
	.divider
	//block info end